torch
torchvision
torchaudio
transformers
datasets
accelerate
peft
bitsandbytes
numpy
pandas
tqdm
pillow
matplotlib
jupyterlab
ipywidgets
sentencepiece
trl
qwen-vl-utils
sacrebleu
rouge-score
codebleu
nltk
python-Levenshtein
scikit-image
playwright
